[submodule "vendor/multipart_form"]
	path = vendor/multipart_form
	url = https://github.com/anmonteiro/multipart_form.git
[submodule "vendor/httpaf"]
	path = vendor/httpaf
	url = https://github.com/anmonteiro/httpaf.git
[submodule "vendor/ocaml-h2"]
	path = vendor/ocaml-h2
	url = https://github.com/anmonteiro/ocaml-h2.git
