pin-depends: [
  [ "httpaf.dev" "git+https://github.com/anmonteiro/httpaf.git"
    "httpaf-eio.dev" "git+https://github.com/anmonteiro/httpaf.git"
    "h2.dev" "git+https://github.com/anmonteiro/ocaml-h2.git"
    "h2-eio.dev" "git+https://github.com/anmonteiro/ocaml-h2.git"
    "websocketaf.dev" "git+https://github.com/anmonteiro/websocketaf.git"
    "multipart_form.dev" "git+https://github.com/anmonteiro/multipart_form.git" ]
]
