pin-depends: [
  [ "httpun-types.dev" "git+https://github.com/anmonteiro/httpun.git" ]
  [ "httpun.dev" "git+https://github.com/anmonteiro/httpun.git" ]
  [ "httpun-eio.dev" "git+https://github.com/anmonteiro/httpun.git" ]
  [ "hpack.dev" "git+https://github.com/anmonteiro/ocaml-h2.git" ]
  [ "h2.dev" "git+https://github.com/anmonteiro/ocaml-h2.git" ]
  [ "h2-eio.dev" "git+https://github.com/anmonteiro/ocaml-h2.git" ]
  [ "httpun-ws.dev" "git+https://github.com/anmonteiro/httpun-ws.git" ]
]
