{
  "jobs": {
    "macos-latest": {
      "runs-on": "macos-latest",
      "steps": [
        {
          "uses": "actions/checkout@v2",
          "with": {
            "submodules": "recursive"
          }
        },
        {
          "uses": "cachix/install-nix-action@v22",
          "with": {
            "extra_nix_config": "extra-substituters = https://anmonteiro.nix-cache.workers.dev\nextra-trusted-public-keys = ocaml.nix-cache.com-1:/xI2h2+56rwFfKyyFVbkJSeGqSIYMC/Je+7XXqGKDIY=\n"
          }
        },
        {
          "name": "Run nix-build",
          "run": "nix-build ./nix/ci/test.nix -A native --argstr ocamlVersion ${{ matrix.ocamlVersion }}"
        }
      ],
      "strategy": {
        "fail-fast": false,
        "matrix": {
          "ocamlVersion": [
            "5_0"
          ]
        }
      }
    },
    "ubuntu-latest": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v2",
          "with": {
            "submodules": "recursive"
          }
        },
        {
          "uses": "cachix/install-nix-action@v17",
          "with": {
            "extra_nix_config": "extra-substituters = https://anmonteiro.nix-cache.workers.dev\nextra-trusted-public-keys = ocaml.nix-cache.com-1:/xI2h2+56rwFfKyyFVbkJSeGqSIYMC/Je+7XXqGKDIY=\n"
          }
        },
        {
          "name": "Run nix-build",
          "run": "nix-build ./nix/ci/test.nix -A native -A musl64 --argstr ocamlVersion ${{ matrix.ocamlVersion }}"
        }
      ],
      "strategy": {
        "fail-fast": false,
        "matrix": {
          "ocamlVersion": [
            "5_0"
          ]
        }
      }
    }
  },
  "name": "Build",
  "on": {
    "pull_request": null,
    "push": {
      "branches": [
        "master"
      ]
    }
  }
}
